@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("fonts/Roboto-Medium.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("fonts/Roboto-Bold.ttf");
}

body {
  margin: 0 auto;
  color: #cacaca;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  background: #08020d;
}

h1 {
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
}

h2 {
  font-weight: bold;
  font-size: 39px;
  line-height: 57px;
  text-transform: uppercase;
}

.header {
  position: absolute;
  top: 25px;
  right: 0;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 11px;
  text-transform: uppercase;

  div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 1200px;

    img {
      width: 24px;
      height: 24px;
      padding-right: 24px;
    }

    span {
      padding-right: 90px;
    }

    ul {
      display: flex;

      li {
        box-sizing: border-box;
        padding-right: 24px;
        list-style-type: none;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }

    form {
      justify-self: flex-end;

      input {
        padding: 5px 10px;
        color: #757575;
        background: #3C3B3D;
        border: none;
        border-radius: 50px;
        outline: none;
      }
    }
  }
}

@media (max-width: 500px) {
  h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
  }

  h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
  }
}
